<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>
<body>
	<div ng-app="">
		<p>Name: <input type="text" ng-model="color" style="background-color:{{ color }}"></p>
	</div>

</body>
</html>
