<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>
<body>
	<div ng-app="app01" ng-controller="controlleur01">
		<input id="nb1" type="text" ng-model="nb1">
		<select ng-model="signe">
			<option>+</option>
			<option>-</option>
			<option>*</option>
			<option>/</option>
		</select>
		<input id="nb2" type="text" ng-model="nb2">
		<p>{{calcul(nb1, nb2 ,signe)}}</p>
	</div>

 	<script>
 		var app = angular.module("app01", []);

 		app.controller("controlleur01", function($scope){
 			$scope.calcul = function(nb1, nb2, signe){
 				if(signe == "+")
 					return parseInt(nb1)+signe+parseInt(nb2)+"="+(parseInt(nb1)+parseInt(nb2)) ;
 				if(signe == "-")
 					return parseInt(nb1)+signe+parseInt(nb2)+"="+(parseInt(nb1)-parseInt(nb2)) ;
 				if(signe == "*")
 					return parseInt(nb1)+signe+parseInt(nb2)+"="+(parseInt(nb1)*parseInt(nb2)) ;
 				if(signe == "/")
 					return parseInt(nb1)+signe+parseInt(nb2)+"="+(parseInt(nb1)/parseInt(nb2)) ;
 			};
 		});
 	</script>

</body>
</html>