<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>
<body>
	<div ng-app="app01" ng-controller="controlleur01" id="test">
		{{tab()}}
	</div>

 	<script>
 		var app = angular.module("app01", []);

 		app.controller("controlleur01", function($scope, $http){
			$http.get("https://raw.githubusercontent.com/fanzeyi/Pokemon-DB/master/pokedex.json").then(function(response){
				var res = response.data;
				console.log();
				$scope.tab = function(){
					var tab=Array(response["data"].length);
					var i=0;
					for (var i = 0; i<tab.length; i++){
						tab[i] = res[i].ename
					}
					return tab;
				}
			});
		});
		
 	</script>

</body>
</html>